.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 88px;
  background-color: #fff;
  padding-bottom: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  font-size: 40px;
  font-weight: 700;
  color: #3c009d;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background-color: #eaeaea;
  border-radius: 6px;
}

@media only screen and (max-width: 768px) {
  .input {
    width: 88%;
    height: 70px;
  }
}
.input img {
  margin: 0px 30px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 20px;
}

.forgot-password, span {
  color: #4c00b4;
  cursor: pointer;
}

.submit-container
{
display: flex;
gap: 30px;

}

.submit {

display: flex;
justify-content: center;
align-items: center;
width: 220px;
height: 50px;
background-color: #4c00b4;
color: #fff;
border-radius: 50px;
font-size: 19px;
font-weight: 700;
cursor: pointer;


}

.grey{background-color: #EAEAEA;
color: #676767;}